@font-face {
    font-family: "Circular Std Book";
    src: url("/Circular Std Font.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Circular Std";
    src: url("./FontsFree-Net-Circular-Std-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }